<?xml version="1.0" encoding="utf-8"?>
<robot name="myAGV plus" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config" default="" />
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_sim" default="false" />

  <!-- PROPERTIES -->
  <xacro:property name="wheel_radius" value="0.04"/>

  <!-- INCLUDE ROBOT MACRO -->
  <xacro:include filename="$(find myagv_plus_description)/urdf/common/gazebo.urdf.xacro" ns="gazebo" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/common/ros2_control.urdf.xacro" ns="ros2_control" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/robot/base.urdf.xacro" ns="base" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/robot/wheel.urdf.xacro" ns="wheel" />

  <!-- BODY -->
  <xacro:base.body wheel_radius="${wheel_radius}" namespace="${namespace}" />

  <!-- WHEEL -->
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="lf" mecanum="${mecanum}" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="lb" mecanum="${mecanum}" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rf" mecanum="${mecanum}" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rb" mecanum="${mecanum}" />

  <!-- HARDWARE PLUGINS -->
  <xacro:unless value="${use_sim}">
    <xacro:ros2_control.imu namespace="${namespace}" />
    <xacro:ros2_control.rosbot_system namespace="${namespace}" />
  </xacro:unless>

  <!-- GAZEBO PLUGINS -->
  <xacro:if value="${use_sim}">
    <xacro:ros2_control.gz_rosbot_system namespace="${namespace}" />
    <xacro:gazebo.controller config_file="${controller_config}" namespace="${namespace}" />
    <xacro:gazebo.imu reference_frame="imu_link" namespace="${namespace}" />
  </xacro:if>

</robot>